@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone");

:root {
    --header-color: rgba(1, 135, 98, 1);
    --color-gradient-header: linear-gradient(
        rgb(245, 255, 251) 31.04%,
        rgb(255, 255, 255) 100%
    );
    --Card-Border-color-border-card-tertiary-default: rgba(207, 207, 207, 1);

    --color-button-primary: rgba(1, 135, 98, 1);
    --header-font-size: 1.5rem;
    --footer-bg: #fff;
    --footer-color: black;
    --spacing-m: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Nunito", sans-serif, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
